{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-10">
    <form method="POST" action="{% url 'orders:order' %}">
        <div class="mb-5">
            <div class="text-3xl mb-5">1. Choose the menu</div>
            {% for menu in menu_list %}
                <div class="mb-2">
                    <input type="checkbox" id="menu_{{forloop.counter}}" name="menu" value="{{menu.food_name}}">
                    <label for="menu_{{forloop.counter}}" class="cursor-pointer">{{menu.food_name}}</label>
                </div>
            {% endfor %}
        </div>
        <div>
            <div class="text-3xl mb-5">2. Write your address</div>
            <input type="hidden" name="shop" value="{{shop_pk}}">
            <input type="text" name="address" required placeholder="Address" class="border border-gray-400 rounded py-2 px-5 outline-none w-96">
        </div>
        <button class="mt-5 bg-blue-400 py-2 px-5 rounded hover:opacity-70 text-white">Order</button>
    </form>
</div>
{% endblock content %}